* {
  margin: 0;
  padding: 0;
  border: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
body{
  font-family: 'Montserrat', sans-serif;

}
#header{
  background: url() no-repeat center/cover;
  min-height: 100vh;
}